body{
    background-color: rgb(166, 102, 4);
    font-family: 'Courier New', Courier, monospace;
}

#calculate
{
    font-weight: normal;
}

#calculate:hover
{
    font-weight: bold;
    transform: scale(1.2);
}

label {
    display: inline-block;
    width: 250px;
    text-align: left;
  }

  select{
    background-color: rgb(166, 102, 4);
    font-family: 'Courier New', Courier, monospace;
}

input{
    background-color: rgb(166, 102, 4);
    font-family: 'Courier New', Courier, monospace;
}