body {
    background-color: rgb(137, 94, 36);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#calculate {
    font-weight: normal;
}

#calculate:hover {
    font-weight: bold;
    transform: scale(1.2);
}

label {
    display: inline-block;
    width: 250px;
    text-align: left;
}

select {
    background-color: rgb(137, 94, 36);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
    background-color: rgb(137, 94, 36);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}